<div class="row mt-5">

    <app-mainslider></app-mainslider>
<app-categories></app-categories>
    <div *ngFor="let product of products" class="col-md-2">

        <div class="product px-2 py-4 ">       
            <a [routerLink] = "['/productdetails' , product._id]">
            <img class="w-100" src="{{product.imageCover}}" alt="">
      
            <span class="text-main fw-bold font-sm "> {{product.subcategory[0].name}}  </span>

            <h3 class="h6 fw-bolder"> {{product.title.split(' ').slice(0,2).join(' ')}} </h3>
   <div class="d-flex align-items-center justify-content-between">
    <span class="text-muted"> {{product.price}} EGP </span>
<div>
    <span> {{product.ratingsAverage}}</span>
    <i class="fas fa-star rating-color"> </i>   
</div></div>
</a>


</div>
      </div>
</div>